/* Animation for iamge start */
@media screen and (prefers-reduced-motion: no-preference) {
  .scale_motion {
    animation: image-scale linear forwards;
    animation-timeline: view();
    animation-range: entry-crossing;
  }
  .motion_left {
    animation: transform__left linear forwards;
    animation-timeline: view();
    animation-range: entry-crossing;
  }

  .motion_right {
    animation: transform__right linear forwards;
    animation-timeline: view();
    animation-range: entry-crossing;
  }
  .motion_bellow:nth-child(1) {
    animation: transform__bellow_practice_1 linear forwards;
    animation-timeline: view();
    animation-range: entry-crossing;
  }
  .motion_bellow:nth-child(2) {
    animation: transform__bellow_practice_2 linear forwards;
    animation-timeline: view();
    animation-range: entry-crossing;
  }
  .motion_bellow:nth-child(3) {
    animation: transform__bellow_practice_3 linear forwards;
    animation-timeline: view();
    animation-range: entry-crossing;
  }
  .motion_bellow:nth-child(4) {
    animation: transform__bellow_practice_4 linear forwards;
    animation-timeline: view();
    animation-range: entry-crossing;
  }
  .p_item:nth-child(1) {
    animation: transform__left linear forwards;
    animation-timeline: view();
    animation-range: entry-crossing;
  }
  .p_item:nth-child(2) {
    animation: transform__bellow linear forwards;
    animation-timeline: view();
    animation-range: entry-crossing;
  }
  .p_item:nth-child(3) {
    animation: transform__right linear forwards;
    animation-timeline: view();
    animation-range: entry-crossing;
  }
  @keyframes image-scale {
    from {
      scale: 0.8;
      opacity: 0;
    }
    to {
      scale: 1 1;
      opacity: 1;
    }
  }
  @keyframes transform__left {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes transform__right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes transform__bellow {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes transform__bellow_practice_1 {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes transform__bellow_practice_2 {
    from {
      transform: translateY(50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes transform__bellow_practice_3 {
    from {
      transform: translateY(-0%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes transform__bellow_practice_4 {
    from {
      transform: translateY(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
